.actions {
  background: #eee;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.actions button {
  border: 0;
  background: #1d3557;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
  color: #fff;
}