* {
  box-sizing: border-box;
}
:root {
  --pomo-primary-color: #eb5c68;
  --pomo-secondary-color: #f4a4ab;
  --short-break-primary-color: #a8dadc;
  --short-break-secondary-color: #c5e7e8;
  --short-break-tertiary-color: #8aced0;
  --long-break-primary-color: #457b9d;
  --long-break-secondary-color: #71a2c1;
  --long-break-tertiary-color: #5590b4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  color: #1d3557;
  margin: 0;
  padding: 0;
}

.nav {
  padding: 1rem;
  height: 80px;
}

.app-container {
  transition: background-color 0.2s ease-in;
  height: 100vh;
  overflow-y: hidden;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.start {
  width: 180px;
  height: 60px;
  border-radius: 4px;
  border: none;
  background-color: #1d3557;
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
}

.start:hover {
  cursor: pointer;
}

.timer {
  font-size: 8rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.colon {
  position: relative;
  bottom: 10px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

@media (max-width: 768px) {
  .timer {
    font-size: 7rem;
  }
  .timer-tabs {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .timer {
    font-size: 7rem;
  }
}
